* {
    box-sizing: border-box;
    font-family: Bahnschrift, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linen;
}

.wrapper {
    background: white;
    border-radius: 7px;
    width: 400px;
}

.wrapper header {
    font-size: 30px;
    border-bottom: 1px solid lightgray;
    padding: 10px 10px;
    display: flex;
    align-items: center;
}

.wrapper.active header i{
    font-size: 30px;
    margin-left: 5px;
}

header i {
    cursor:pointer;
    margin-right: 5px;
    font-size: 0px;
}



.wrapper.active header {
    font-size: 30px;
    margin-left: 5px;
}

.wrapper.active .input-part{
    display: none;
}

.wrapper .input-part {

    margin: 20px 25px 30px;
}

.info-txt {
    display: none;
    text-align: center;
    font-size: 20px;
    padding: 12px 8px;
    border-radius: 7px;
}

.info-txt.error{
    display: block;
    color: indianred;
    background: pink;
    border: 1px solid pink;
}

.info-txt.pending{
    display: block;
    color: darkcyan;
    background: lightblue;
    border: 1px solid lightblue;
}
.input-part :where(input, button) {
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 20px;
}

.input-part .separator {
    width: 100%;
    height: 1px;
    background: grey;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-part .info-text {
    text-align: center;
    margin-bottom: 10px;
}

.input-part input:is(:focus, :valid) {
    border: 2px solid linen;
}

.separator::before{
    content: "or";
    color: grey;
    background: white;
    padding: 0 20px;
    font-size: 20px;
}

.input-part button {
    cursor: pointer;
    background: linen;
}

.wrapper .weather-part {
    margin: 30px 0 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper.active .weather-part{
    display: flex;
}

.weather-part img{
    max-width: 125px;
}

.weather-part .temp {
    display: flex;
    font-size: 72px;
    font-weight: 500;
}

.weather-part .temp .numb {
    font-weight: 600;
}

.weather-part .temp .numb .deg {
    font-size: 40px;
    margin: 10px 5px 0 0;
    display: block;
}

.weather-part .weather {
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
}

.weather .location {
    margin-bottom: 70px;
    align-items: center;
    display: flex;
    font-size: 21px;
}

.location i  {
    font-size: 20px;
    margin-right: 5px;
}

.weather-part .bottom-details {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgray;
}

.bottom-details .column {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 15px 0;
}

.column i {
    font-size: 40px;
    margin-top: -8px;
}

.column.humidity {
    border-left: 1px solid lightgray;
}

.details .temp, .humidity span {
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
}

.details .temp .deg {
    margin: 0;
    font-size: 17px;
    padding: 0px 2px 0px 1px;
}

.details p{
    font-size: 17px;
    margin-top: -6px;
}
